.Rproj.user
.Rhistory
.RData
.Ruserdata
fasta
fastq
osd
*.txt
*.fna
!qiime/otu_rep_97.fna
*.html
qiime/alpha_rarefaction_plots
~*
*.fna
*.Rdata
*.rdb
*.rdx
*.png
*_packages
qiime/MDS.pdf
qiime/otu_table_98_final.tsv
*.pdf
*.qzv
*.biom
*.docx
qiime*
README.md
metadata*
README_Singapore_metabarcodes.md
archives
README_Singapore_metabarcodes_01.md
*.pptx
R/Metabarcoding_Singapore_ASV.Rmd
fig*
